$space-from-switch: 1.2rem;
$space-from-icon: 0.8rem;
$label-font-size: 0.8rem;

.switchContainer {
  display: flex;
  align-items: center;

  .realTimeContainer {
    display: flex;
    align-items: center;
    margin-right: $space-from-switch;

    .label {
      font-size: $label-font-size;
    }

    .labelSelected {
      opacity: 1;
    }

    .labelUnselected {
      opacity: 0.3;
    }

    .icon {
      margin-left: $space-from-icon;
    }
  }

  .historyContainer {
    display: flex;
    align-items: center;
    margin-left: $space-from-switch;

    .label {
      margin-left: $space-from-icon;
      font-size: $label-font-size;
    }

    .labelSelected {
      opacity: 1;
    }

    .labelUnselected {
      opacity: 0.3;
    }
  }

  .switch {
    display: flex;
    align-items: center;
  }

  .expandButton {
    margin-left: 1rem;
    border: none;
    background-color: rgba(white, 0);
    position: relative;

    &:hover {
      .toolTip {
        visibility: visible;
      }
    }

    .toolTip {
      display: flex;
      align-items: center;
      visibility: hidden;
      width: 120px;
      background-color: rgba(black, 0.8);
      color: #fff;
      text-align: center;
      padding: .5rem .5rem;
      border-radius: 6px;

      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
      top: -2.5rem;
      left: -1rem;

      .icon {

      }

      .toolTipText {
          margin-left: .5rem;
      }
    }

    .icon {
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
