$background-screen-color: #f2f3f5;

.container {
  background-color: $background-screen-color;
  height: 100%;

  .actionButons {
    padding-top: 2rem;
  }

  .lineStats {
    margin-top: 3rem;
  }
}
