$sidebar-background-color: #2e588f;
$sidebar-background-color-light: #33609c;
$primary-text-color: #f2f3f5;

.container {
  background-color: $sidebar-background-color-light;
  height: 100%;

  .brand {
    display: flex;
    background-color: $sidebar-background-color;
    align-items: center;
    justify-content: center;
    height: 3rem;
    
    .brandImg {
      height: 90%;
      margin-left: .5rem;

      @media only screen and (max-width: 650px) {
       margin-right: .5rem;
      }
    }

    .appName {
      display: inline-block;
      width: 100%;
      color: $primary-text-color;
      font-weight: 600;
      font-size: 1.5rem;
      height: 3rem;
      line-height: 3rem;
      margin-left: 1rem;
      font-family: 'Lobster', cursive;

      @media only screen and (max-width: 650px) {
        display: none;
      }
    }
  }

  .links {
    margin: 0;
    padding: 0;

    .link {
      font-weight: 600;
      padding-top: 1.5rem;
      display: flex;
      margin-left: 10%;
      align-items: center;
      color: rgba($primary-text-color, 0.7);

      @media only screen and (max-width: 650px) {
        margin-left: 0;
        justify-content: center;
      }

      .icon {
        font-size: 1.6rem;

        @media only screen and (max-width: 650px) {
          font-size: 2.5rem;
        }
      }
      .label {
        font-size: 1rem;
        margin-left: 0.8rem;
        text-decoration: none;
        color: rgba($primary-text-color, 0.7);

        @media only screen and (max-width: 650px) {
          display: none;
        }

        &:hover {
          color: rgba($primary-text-color, 1);
        }
      }

      &:hover {
        color: rgba($primary-text-color, 1);
      }
    }
  }
}
