$sidebar-background-color: #2e588f;
$sidebar-background-color-light: #33609c;
$primary-text-color: #f2f3f5;

.container {
  height: 100vh;

  .appName {
    background-color: $sidebar-background-color;
    display: inline-block;
    width: 100%;
    color: $primary-text-color;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    height: 3rem;
    line-height: 3rem;

    @media only screen and (max-width: 650px) {
        font-size: .7rem;
    }
  }
  .links {
    background-color: $sidebar-background-color-light;
    height: 100vh;
    margin: 0;
    padding: 0;

    .link {
      font-weight: 600;
      padding-top: 1.5rem;
      display: flex;
      margin-left: 10%;
      align-items: center;
      color: rgba($primary-text-color, 0.7);

      @media only screen and (max-width: 650px) {
        margin-left: 0;
        justify-content: center;
    }

      .icon {
        font-size: 1.6rem;

        @media only screen and (max-width: 650px) {
            font-size: 2.5rem;
        }
      }
      .label {
        font-size: 1rem;
        margin-left: 0.8rem;
        text-decoration: none;
        color: rgba($primary-text-color, 0.7);

        @media only screen and (max-width: 650px) {
            display: none;
        }

        &:hover {
          color: rgba($primary-text-color, 1);
        }
      }

      &:hover {
        color: rgba($primary-text-color, 1);
      }
    }
  }
}
