.layout {
}

.sidebar {
  width: 15%;
  height: 100vh;
  position: fixed;

  @media only screen and (max-width: 1050px) {
    width: 20%;
  }
}

.appScreen {
  margin-left: 15%;
  height: 100vh;

  @media only screen and (max-width: 1024px) {
    margin-left: 20.5%;
  }
}
